@import url("https://fonts.googleapis.com/css?family=Sofia|Oswald|Fredericka the Great|Creepster");

html, body {
  height: 100%;
  width: 100%;
}

body{
  width:98%;
  height:98%;
}
.batmanvsiornman{
  padding:50px;
  border:5px inset black;
  background-image:linear-gradient(90deg,rgba(255, 0, 0,0.8) 50%, rgba(0, 0, 0,0.8) 50%);
  width:200px;
  position:absolute;
  left:37.5%;
  top:70%;
}
a{
  text-decoration:none;
  color: #d5a110;
  text-shadow:5px 5px 5px maroon;
  font-size:30px;
  font-family:Creepster;
}
.p1{
  padding:30px;
  text-shadow:5px 5px 5px black;
  color: #e5e4e2;
.p2{
  padding:30px;
  text-shadow:5px 5px 5px black;
  color: white;
  
}